@mixin generateFontFaces($fontFamily, $weights) {
    @each $fontPath,
    $fontWeight in $weights {
        $pathExtension: str-slice($fontPath, str-index($fontPath, ".") + 1);
        $fontFormat: $pathExtension;

        @if $pathExtension =="otf" {
            $fontFormat: "opentype";
        } @else if $pathExtension =="ttf" {
            $fontFormat: "truetype";
        }

        @font-face {
            font-family: $fontFamily;
            src: url($fontPath) format($fontFormat);
            font-weight: $fontWeight;
            font-display: swap;

            @if (str-index($fontPath, 'Italic')) {
                font-style: italic;
            }

            @else {
                font-style: normal;
            }
        }
    }
}

@include generateFontFaces('Aeonik', (
    '/fonts/Aeonik/Aeonik-Air.woff2': 100,
    '/fonts/Aeonik/Aeonik-AirItalic.woff2': 100,
    '/fonts/Aeonik/Aeonik-Thin.woff2': 200,
    '/fonts/Aeonik/Aeonik-ThinItalic.woff2': 200,
    '/fonts/Aeonik/Aeonik-Light.woff2': 300,
    '/fonts/Aeonik/Aeonik-LightItalic.woff2': 300,
    '/fonts/Aeonik/Aeonik-Regular.woff2': 400,
    '/fonts/Aeonik/Aeonik-RegularItalic.woff2': 400,
    '/fonts/Aeonik/Aeonik-Medium.woff2': 600,
    '/fonts/Aeonik/Aeonik-MediumItalic.woff2': 600,
    '/fonts/Aeonik/Aeonik-Bold.woff2': 700,
    '/fonts/Aeonik/Aeonik-BoldItalic.woff2': 700,
    '/fonts/Aeonik/Aeonik-Black.woff2': 800,
    '/fonts/Aeonik/Aeonik-BlackItalic.woff2': 800,
));

@include generateFontFaces('IBM Plex Mono', (
    '/fonts/IBMPlexMono/IBMPlexMono-Light.woff2': 300,
    '/fonts/IBMPlexMono/IBMPlexMono-Regular.woff2': 400,
    '/fonts/IBMPlexMono/IBMPlexMono-Medium.woff2': 500,
));

@include generateFontFaces('Sohnebreit', (
    '/fonts/Sohnebreit/Sohnebreit-Leicht.woff2': 300,
    '/fonts/Sohnebreit/Sohnebreit-Buch.woff2': 400,
    '/fonts/Sohnebreit/Sohnebreit-Halbfett.woff2': 600,
    '/fonts/Sohnebreit/Sohnebreit-Fett.woff2': 800,
));