html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @apply font-light;
}

body {
    background-color: #0B0B0B;
    color: #f1f1f1;
}

.outlined-text {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.cursor-point {
    position: fixed;
    width: 2px;
    height: 2px;
    background: #969696;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    display: none;
}

.cursor-aura {
    position: fixed;
    width: 20px;
    height: 20px;
    border: 1px solid #727272;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9998;
    display: none;
}

.cursor-point--pointer {
    background-color: #f1f1f1;
}

.cursor-aura--pointer {
    background: #383838;
    border-color: #383838;
    opacity: .5;
}

@media only screen and (min-width: 700px) {
    .cursor-point, .cursor-aura {
        display: block;
    }
    * {
        cursor: none !important;
    }
}

.section-links__item {
    .arrow-icon {
        transition: all .6s ease;
    }
    &:hover {
        .arrow-icon {
            transform: rotate(45deg);
            path {
                @apply fill-accent;
            }
        }
    }
}

.footer a:hover {
    text-decoration: underline;
}