<footer class="bg-bones text-smoke p-8 sm:p-20 footer">
  <img
    src="/22/hand_emoji.png"
    alt="Raised hand with part between middle and ring fingers"
    class="mb-4"
    width="32"
    height="32"
  />
  <div class="flex flex-col sm:flex-row justify-between">
    <div>
      <p class="font-display font-extrabold text-2xl mb-5">Get in touch</p>
      <div class="grid grid-cols-2 justify-between sm:w-[50vw] font-sans font-normal text-xs">
        <div class="flex flex-col space-y-2.5">
          <div>
            <p class="font-bold uppercase mb-2.5">Name</p>
            <p>Yahir Gomez</p>
          </div>
          <div>
            <p class="font-bold uppercase mb-2.5">EMAIL</p>
            <a href="mailto:gammx.gg@gmail.com">gammx.gg@gmail.com</a>
          </div>
        </div>
        <div class="flex flex-col space-y-2.5 font-bold uppercase">
          <div>
            <a href="#">Linkedin</a>
          </div>
          <div>
            <a target="_blank" href="https://github.com/gammx">Github</a>
          </div>
          <div>
            <a target="_blank" href="https://twitter.com/22gammx">Twitter</a>
          </div>
          <div>
            <a target="_blank" href="https://instagram.com/yahirgnn">Instagram</a>
          </div>
        </div>
      </div>
      <div>
      </div>
    </div>
    
    <picture class="self-center">
      <source srcset="/22/webp/signed_portrait.webp" type="image/webp" />
      <source srcset="/22/signed_portrait.png" type="image/png" />
      <img src="/22/webp/signed_portrait.webp" alt="A pic of me sitting in front of a computer, with my sign on it." class="mt-12 sm:mt-0" width="164" height="170">
    </picture>
  </div>
  <div class="text-center pt-28">
    <p class="font-bold tracking-tighter mb-2.5">22</p>
    <p class="text-xs font-normal">&copy; GAMMX. All rights reserved.</p>
  </div>
</footer>