---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/layout/Footer.astro';
---

<Layout title="GAMMX — ABOUT THE PROJECT">
	<header class="bg-accent text-smoke flex items-center justify-center h-[200px] relative">
		<h1 class="font-mono font-medium uppercase z-10">This is the About Me page</h1>
		<div class="absolute left-[50%]">
			<img src="/22/sign.png" alt="My sign" class="relative -left-[50%]">
		</div>
	</header>
	<main class="py-6 px-8 sm:px-20 md:px-[24vw] font-normal">
		<a href="/" class="font-mono uppercase underline text-xs hover:opacity-80">
			&lt; Get Back
		</a>
		<article>
			<section>
				<h2 class="font-bold uppercase mb-4 mt-6">The Begginning</h2>
				<p>
					I wrote my first line of code in 2015, I was 12 years old, a simple "Hello, World" in JavaScript made me realize of a whole new world of possibilities. I was in love with the idea of creating something completely new just by typing some lines in a strange but interesting language, it really was like talking to my computer.
				</p>
			</section>
			<section class="flex flex-col items-center mt-8">
				<figure>
					<img src="/22/early_days_photo.png" alt="Me, coding one of my first programs in 2016" class="mb-1">
					<figcaption class="text-xs text-center uppercase font-mono opacity-50">Coding, taken in 2016.</figcaption>
				</figure>
			</section>
			<section>
				<div class="relative mb-4 mt-6">
					<h2 class="font-bold uppercase relative z-10">The Motivation</h2>
					<div class="absolute w-16 h-3 bg-accent left-12 top-3"></div>
				</div>
				<p class="mb-4">
					In high school I got the news of a science fair with local, national and international phase. I created in one day a simple demo of an app to learn the geography of Mexico, it was written in GML, a language based in C++. When I showed the project to the school administration, they were amazed, they had never taken such a well done project to a contest before, and it was just a demo.
				</p>
				<p>
					It was during the event, when I really realize of my power, perfect score, best project award and direct qualification to the national phase. All the judges thought I was in college, because that was the level of the project. I couldn't believe it, I had just won the best project of the whole state. I went to the nationals, and I didn't win, yeah the project got excellent scores, but my project was only focused on Mexico, it wasn't a project of international scale.
				</p>
			</section>
			<section class="w-full my-12 flex flex-col items-center">
				<b class="text-accent">DESIGN</b>
				<p class="text-left font-display text-xs relative left-6 sm:left-10 max-w-[260px]">We design to give a message, it's not about how it looks, but what it tells to you.</p>
			</section>
			<section>
				<div class="relative mb-4 mt-6">
					<h2 class="font-bold uppercase">The Goal</h2>
					<div class="absolute w-10 h-3 bg-accent left-4 top-4"></div>
				</div>
				<p class="mb-4">
					I really love to improve my skills, learn new things, Every time I work on a new project I try to include something I haven't done before. I follow this rule: <i>"Don't marry any technology, always be open to new things"</i>.
				</p>
				<p class="mb-4">
					I am right now where I wanted to be when I was starting, but there is still a lot of things I want to learn, I'm very interested in DevOps, I want to play with Rust, Go and Elixir as I think they are blazingly fast languages and you can achieve a lot with them. I also want to try Android development with Kotlin.
				</p>
				<p>
					Cassandra and ScyllaDB are on my list in the database side.
				</p>
			</section>
			<section>
				<div class="relative mb-4 mt-6">
					<h2 class="font-bold">destroy TO CREATE.</h2>
					<div class="absolute w-9 h-2 bg-accent left-16 top-3"></div>
				</div>
				<p class="mb-4">
					I'm also a designer, I care too much about the message that something is trying to transmit. Not everything has to be flat, modern and minimal, every design trend has its use, if you don't pick the right one, you can end up with a bad design. 
				</p>
				<p>
					I'm a fan of the Neubrutalism movement, it's rude, it's anti-design, but it's honest, it's raw.
				</p>
			</section>
		</article>
	</main>
	<footer class="font-mono font-normal text-xs opacity-50 my-12 px-8 sm:px-20 md:px-[24vw]">
		<span>By Yahir Gomez — </span> <time datetime="2022-11-09">11/09/2022</time>
	</footer>
	<Footer />
</Layout>