---
import Layout from '../layouts/Layout.astro';
import Button from '../components/UI/Button.astro';
import Section from '../components/UI/Section.astro';
import Divider from '../components/UI/Divider.astro';
import Skill from '../components/UI/Skill.astro';
import stack from '../utils/stack';
import ProjectList from '../components/ProjectList';
import SectionLink from '../components/SectionLink';
import Footer from '../components/layout/Footer.astro';
import Hero from '../components/layout/Hero.astro';

const currentYear = new Date().getFullYear();
---

<Layout title="GAMMX">
  <main class="flex flex-col">
    <Hero />
    <!-- --- RESUME --- -->
    <Section class="flex flex-col items-center">
      <Divider>WHO AM I</Divider>
      <p class="text-center lg:text-left text-xl mt-2 mb-6 text-white/60">
        I'm a <span class="text-white/100">full-stack web developer</span> and <span
          class="text-white/100">UI/UX designer</span
        > based in Los Cabos, MX.
      </p>
      <Button>Download Resume</Button>
    </Section>
    <!-- --- STACK --- -->
    <section class="px-2.5 py-20">
      <div class="text-xs flex space-x-3 mb-8">
				<h2 class="uppercase text-[#858585]">What Do I Use</h2>
				<p>Here's a list of the technologies I work with, the brighter, the better I am.</p>
			</div>
      <div
        class="grid grid-cols-4 sm:grid-cols-6 md:grid-cols-8 lg:grid-cols-12 gap-4"
      >
        {
          stack.map((skill) => (
            <Skill level={skill.level} color={skill.color}>
              <img src={skill.src} alt={skill.title} width="24" height="24" />
            </Skill>
          ))
        }
      </div>
    </section>
    <!-- --- PROJECTS --- -->
    <ProjectList client:load />
    <!-- --- SECTION LINKS --- -->
    <div class="w-full grid grid-rows-2 sm:grid-rows-1 sm:grid-flow-col sm:grid-cols-2 h-52 border-t border-primary">
      <SectionLink
        client:visible
        title="About Me"
        iconSrc="/22/3d_panoram_1.png"
        href="/about"
      ></SectionLink>
      <SectionLink
        client:visible
        title="Email Me"
        iconSrc="/22/3d_panoram_2.png"
        href="mailto:gammx.gg@gmail.com"
      ></SectionLink>
    </div>
    <!-- --- FOOTER --- -->
    <Footer />
  </main>
</Layout>
