---
import Layout from '../layouts/Layout.astro';
import Button from '../components/UI/Button.astro';
import Section from '../components/UI/Section.astro';
import Divider from '../components/UI/Divider.astro';
import Skill from '../components/UI/Skill.astro';
import stack from '../utils/stack';
---

<Layout title="GAMMX">
	<main class="flex flex-col">
    <div class="w-full py-12 px-12 text-xs sm:px-24 flex justify-between uppercase">
      <p>FullStack Dev</p>
      <p>UI/UX Designer</p>
    </div>
    <div class="w-full relative pt-20 pb-40 flex flex-col justify-center items-center">
      <div class="absolute w-[300px] h-[300px] rounded-full bg-[#1f1f1f]" style="filter: blur(64px);"></div>
      <div class="z-10 text-center">
        <h1 class="text-7xl sm:text-[128px] font-display">GAMMX</h1>
        <p class="text-center pt-4 pb-16 px-12 text-sm sm:w-[450px]">I'm just a software developer always looking to build amazing projects no matter what</p>
        <Button>Take A Look</Button>
      </div>
    </div>
    <Section>
      <div class="flex flex-col items-center">
        <Divider>WHO AM I</Divider>
        <p class="text-xl mt-2 mb-6 text-white/60">
          I'm a <span class="text-white/100">full-stack web developer</span> and <span class="text-white/100">UI/UX designer</span> based in Los Cabos, MX.
        </p>
        <Button>Download Resume</Button>
      </div>
    </Section>
    <Section>
      <Divider>WHAT DO I USE</Divider>
      <p class="mt-2 mb-4 text-sm">Here's a list of the technologies I work with, the brighter, the better I am.</p>
      <div class="grid grid-cols-4 sm:grid-cols-6 md:grid-cols-8 lg:grid-cols-12 gap-4">
        {stack.map((skill) => (
          <Skill level={skill.level} color={skill.color}>
            <img src={skill.src} alt={skill.title} />
          </Skill>
        ))}
      </div>
    </Section>
	</main>
</Layout>