<button class="h-11 px-10 text-xs uppercase rounded-full border border-t-white/10 border-l-white/10 border-r-white/5 border-b-white/5 hover:bg-interactive-hover transition-all duration-300">
    <slot />
</button>