---
interface Props {
  level?: 'begginner' | 'normal' | 'expert';
  color?: string
}

const {
  level = 'normal',
  color = 'white'
} = Astro.props;

const isDefaultColor = color === 'white';
---

<div
  class:list={["[&>img]:h-6 w-16 h-16 flex items-center justify-center rounded-xl border bg-gradient-to-br from-white/0", {
    'to-white/2 border-white/2': level === 'begginner',
    'to-white/8 border-white/5': level === 'normal',
    'to-white/25 shadow-2xl border-t-white/10 border-l-white/20 border-r-white/10 border-b-white/10': level === 'expert',
    'shadow-white/40': isDefaultColor
  }]}
  style={isDefaultColor ? {} : { '--tw-shadow-color': `rgb(${color} / 65%)`, '--tw-shadow': 'var(--tw-shadow-colored)' }}
>
  <slot />
</div>